[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/telegraf
User=js
ExecStart=/apps/telegraf/bin/telegraf --config /apps/telegraf/config/telegraf-acton-inst.conf --debug
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
