[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=network-online.target remote-fs.service

[Service]
EnvironmentFile=-/etc/default/telegraf
User=js
ExecStart=/apps/telegraf/bin/telegraf --config /apps/telegraf/config/telegraf-cabin-cn.conf --debug > /tmp/tel-cabin-cn.log 2>&1
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group
StandardOutput=file:/tmp/tel-cn.log
StandardError=file:/tmp/tel-cn.log

[Install]
WantedBy=multi-user.target
